*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home{
    background-image: url(images/images/hero\ img.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.lya{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.navbar{
    width: 90%;
    margin: auto;
    position: relative;
}

.nav-logo a{
    width: 15%;
    float: left;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 600;
    width: 30%;
    padding: 15px;
    font-size: 24px;
    color: #FF305B;
}
/* .nav-links{
    position: relative;
} */
.nav-links ul{
    float: right;
    margin-top: 20px;

}
.nav-links ul li{
    list-style-type: none;
     float: left;
    padding: 15px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
}
.nav-links .red a{
    color: #FF305B;
}
.clr{
    clear: both;
}
.nav-links ul li a:hover {
    color: #FF305B;
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h3 {
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.content h4 {
    color: white;
    font-weight: 300;
    font-size: 26px;
}

.content h1 {
    color: #FF305B;
    font-size: 70px;
    font-weight: bold;
}


/*home*/
/*About*/


.about{
   /* background-color: #FF305B; */
    padding-top: 90px; 
    padding-bottom: 90px;
}
.container{
    width: 70%;
    margin: auto;
}

.about-photo{
    width: 49%;
    float: left;
   
} 

.border{
    border: 7px solid #555555;
    border-radius: 5px;
    width: 70%;
}
.img img{
    width: 100%;
}

.img.img{
    top: 20px;
    left: 20px;
    overflow: hidden; 
    position: relative;
}
.social-media{
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    transition: .5s;
}
/* .social-media .icons { */
    /* position: absolute; */
    /* display: flex;
    justify-content:space-between;
    align-items: center;
    color: #F1F1F1;
} */
.img:hover .social-media{
    top: 0;
}
.about-cap{
    /* background-color: aquamarine; */
    width: 50%;
    float: left;
    margin-left: 1%;
}
.text h3{
    position: relative;
    padding-left: 15px;
    font-size: 30px;
}
.text h3::before{
    position: absolute;
    content: "";
    left: 0px;
    width: 5px;
    height: 90%;
    background-color: #FF305B;
}
.text p{
    font-size: 19px;
    color:  #555555;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #555555 2px dashed;
}
.about-profile ul li{
    width: 50%;
    float: left;
    font-size: 16px;
    margin-bottom: 16px;
    color: #555555;
    list-style: none;
 
}
.about-profile .label{
    font-weight: bolder;
}
.btn button {
    padding:12px 22px ;
    background-color: #FF305B;
    border: 1px;
    border-radius: 5px;
}
.btn button a{
    text-decoration: none;
    color: white;
}
.btn button:hover{
    background-color: #EC2403;
}

/* services */
.services{
    background-color: #F1F1F1;
}
.containers{
    width: 80%;
    margin: auto;
    padding-top:70px ;
    padding-bottom: 70px;
    background-color: #F1F1F1;
}
.services h2{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.services h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #FF305B;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}
.services h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid #FF305B;
    border-top:2px solid #FF305B;
    bottom: -17px;
    left: 50%;
    transform: translatex(-50%);  
}
.items{
    text-align: center;
    width: 25%;
    float: left;
    padding: 20px;
    border-radius: 6px;
   transition: .3s background-color;
}
.icon{
    width: 70PX;
    color: #FF305B;
    margin: auto;
    margin-bottom: 20px;
    transition: .3s transform;
}
.items:hover .icon{
    transform: scale(1.2);
}
.items h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.items p{
    font-size: 16px;
    color: #333;
}
.items:hover {
    background-color: white;

}

/* portfolio */
 .cont{
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
 }
 .head{
    margin-bottom: 50px;
 }
 .head h2{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
 }
 .head h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #FF305B;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}
.head h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid #FF305B;
    border-top:2px solid #FF305B;
    bottom: -17px;
    left: 50%;
    transform: translatex(-50%);  
}

.head ul{
   width: 50%;
   margin: 0 auto;
   
} 
.head ul li{
    list-style-type: none;
    float: left;
    width: 25%;
     text-align: center;
}

.head ul li a{
    text-decoration: none;
    padding: 7px;
    font-size: 16px;
    color: black
}

.head .pp a{
    color: #FF305B;
}

.gallery-items{
    width: 33.33333%;
    float: left;
   padding: 20px;
}
.inner{
    position: relative;
}
.gallery-items img{
    width: 100%;
}
.gal-layer{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.427);
    opacity: 0;
    transition: .5s opacity;
}
.gal-icon{
    font-size: 20px;
    color: #FF305B;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.gallery-items:hover .gal-layer{
   opacity: 1;
}

/* Testimonial */


.cont h2{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
 }
 .cont h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #FF305B;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}
.cont h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid #FF305B;
    border-top:2px solid #FF305B;
    bottom: -17px;
    left: 50%;
    transform: translatex(-50%);  
}
.card{
    width: 60%;
    margin: auto;
    padding: 60px;
    background-color: #F1F1F1;
    border: 7px;
    border-radius: 7px;
    position: relative;
}
.card-photo{
    width: 30%;
    float: left;
    position: relative;
    z-index: 2;
    text-align: left;
    
}
.card-photo img{
    border-radius: 50%;
    width: 100px;

}
.card-caption{
    width: 70%;
    float: left;

}
.card-caption h3{
    font-size:26px ;
    margin-bottom: 30px;
}
.card-caption p{
    font-size: 17px;
    
}
.styl{
    border: 90px solid red; 
    position: absolute;
    top: 0;
    left: 0;
    border-color: #FF305B transparent transparent #FF305B;
}

/* blog */
 .blog{
    background-color: #F1F1F1;
    padding-bottom: 70px;
 }
.blog h2{
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
    
 }
 .blog h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #FF305B;
    bottom: -12px;
    left: 50%;
    transform: translatex(-50%);
}
.blog h2::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 10px;
    border-bottom: 2px solid #FF305B;
    border-top:2px solid #FF305B;
    bottom: -17px;
    left: 50%;
    transform: translatex(-50%);  
}
.blog-list{
    width: 80%;
    margin: auto;
}
.blog-items{
    width: 33.3333%;
    float: left;
    padding: 20px;
    
}
.item{
    background-color: white;
}
.blog-items a img{
    width: 100%;
}
.priv{
    color: #555555;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.item h3{
      margin-bottom: 15px;
      padding-left: 10px;
    padding-right: 10px;
}
.item h3 a{
   color: #333333; 
   font-size: larger;
   text-decoration: none;
}
.item p{
    color: #555555;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.item button{
    border: 0px;
    background-color: white;
    
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.item button a{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    transition: .2s;
}
.item button:hover a{
    color: #FF305B;
}
.aspect-ratio{
    aspect-ratio: 16/9;
}
